@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0565AD;
  --color-secondary: #FF772C;
  --color-dark: #14183E;
  --color-title: #374151;
}

html, body {
  font-family: -apple-system, 'Inter', "outfit", sans-serif;
  font-size: 16px;
  line-height: 1.875;
  margin: 0;
  background-color: #FAFAFA;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.footer-section {
  position: relative;
  background: url('/images/footer/footer-bg.png') center/cover no-repeat;
  z-index: 1;
}

.footer-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(220, 245, 255, .97);
  z-index: -1;
}