@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0565AD;
  --color-secondary: #FF772C;
}

html, body {
  /* SF Pro Text n’est pas disponible sur Google Fonts ; on charge Inter en fallback moderne */
  font-family: 'SF Pro Text', 'Inter', system-ui, -apple-system, "outfit", sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}